.btn-primray {
    padding: 10px 20px;
    background: #3b86ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
}
.btn-primray:focus {
    outline: none;
}