.card {
    background-color: #43425d;
    font-size: 12px;
    border-radius: 3px;
    flex: 0.1 200px;
}
.cardtitle{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
    i {
        margin-right: 10px;
        font-size: 15px;
    }
}
.cardheader {
    
    h5 {
        font-size: 1rem;
    }
}
.cardbody{
    height: 100px;
    padding: 30px 20px;
}

.cardfooter {
    // display: flex;
    // justify-content: flex-end;
    // margin-top: 5px;
    padding: 15px 20px;
    // height: 60px;
    background-color: #fff;

    .course {
        display: flex;
        justify-content: space-between;
        font-size: 9px;
        font-weight: 500;
        color: #7c7e89;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    .menu-name {
        font-size: 11px;
        font-weight: 600;
    }

    .footer-buttons {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-top: 10px;

        #delete, #edit {
            cursor: pointer;
            font-size: 9px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 3px;
        }
        #delete {
            background-color: #bf360c;
            
        }
        #edit {
            background-color: #3b86ff;
        }
    }
}




