.message {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.success {
    background-color: #c8e6c9;
    color: #1b5e20;
}

.error {
    background-color: #fbe9e7;
    color: #bf360c;
}